{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="search-bar">
            <form id="search-form" class="form-inline" method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control" id="searchType" name="searchType" style="margin: 0px 10px">
                        <option value="all" selected>All</option>
                        <option value="sponsor">Sponsor</option>
                        <option value="deadline">Deadline</option>
                        <option value="anything">Anything</option>
                    </select>
                </div>
                <div class="form-group" id="search">
                    <input type="text" class="form-control mg10" name="search" placeholder="Search Sponsor">
                </div>
                <div class="form-group deadline">
                    <input data-provide="datepicker" class="form-control mg10" name="deadline_from"
                           placeholder="Deadline From">
                </div>
                <div class="form-group deadline">
                    <input data-provide="datepicker" class="form-control mg10" name="deadline_to"
                           placeholder="Deadline To">
                </div>
                <div class="form-group" id="anything">
                    <input type="text" class="form-control mg10" name="anything" placeholder="Sponsor +(or) Date">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success mg10">Search</button>
                </div>
                {% if user.is_superuser %}
                    <div class="form-group">
                        <button type="button" class="btn btn-success mg10"
                                onclick="document.getElementById('fileInput').click();">Import
                        </button>
                    </div>
                {% endif %}
            </form>
            <form class="form-inline" method="post" action="{% url 'import_data' %}" enctype="multipart/form-data"
                  style="display: none">
                {% csrf_token %}
                <input name="file" type="file" id="fileInput"
                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       onchange="this.form.submit();">
            </form>
        </div>
        <div class="row" style="margin: 10px;">
            <table id="table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Sponsor</th>
                    <th class="no-sort">Title</th>
                    <th>Link</th>
                    <th>Amount</th>
                    <th>Internal Deadline</th>
                    <th>Sponsor Deadline</th>
                    <th>Type</th>
                    <th>Limited</th>
                    {% if user.is_superuser %}
                        <th>Action</th>
                    {% endif %}
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    <script>
      var tableData = [];

      const numberWithCommas = (x) => {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      };

      $(document).ready(function () {
        $('#search').hide();
        $('.deadline').hide();
        $('#anything').hide();
        var table = $('#table').dataTable({
          data: tableData,
          sDom: 'flRrtip',
          columns: [
            {
              data: 'sponsor',
              width: '200px',
            }, {
              data: 'title',
              width: '200px',
              render: function (data, type, row) {
                return `<span>${data} <a onclick="swal('Synopisis',\`${row.synopsis}\n${row.awards}\`);">Synopsis >></a></span>`;
              }
            }, {
              data: 'link',
              width: '200px',
              render: function (data, type, row) {
                return `<a href="${data}" target="_blank" style="word-wrap: break-word;">${data}</a>`;
              }
            }, {
              data: 'amount',
              render: function (data, type, row) {
                if (data === 'undisclosed')
                  return data;
                return data ? '$' + numberWithCommas(data) : '';

              }
            }, {
              data: 'deadline',
              render: function (data, type, row) {
                return data ? moment(data).format('DD/MM/YYYY') : '';
              }
            }, {
              data: 'sponsor_deadline',
              render: function (data, type, row) {
                return data ? moment(data).format('DD/MM/YYYY') : '';
              }
            }, {
              data: 'type',
              width: '60px',
            }, {
              data: 'limited',
              class: 'text-center'
            },
            {% if user.is_superuser %}
              {
                data: 'id',
                width: '80px',
                sortable: false,
                render: function (data, type, row) {
                  return `
                    <a href="project/${data}" class="btn btn-primary" style="margin-bottom: 2px">Edit</a>
                    <a href="project/delete?id=${data}" class="btn btn-danger">Delete</a>
                    `;
                }
              }
            {% endif %}
          ]
        });

        $('#searchType').on('change', function () {
          const search = $('#search').hide();
          const deadline = $('.deadline').hide();
          const anything = $('#anything').hide();
          switch (this.value) {
            case 'sponsor':
              search.show();
              break;
            case 'deadline':
              deadline.show();
              break;
            case 'anything':
              anything.show();
              break;
          }
        });

        var form = $('#search-form');
        form.ajaxForm({
          delegation: true,
          error: function (data, statusText, xhr, $form) {
            table.fnClearTable();
          },
          success: function (data, statusText, xhr, $form) {
            table.fnClearTable();
            if (data.length > 0) {
              table.fnAddData(data);
            }
          }
        });
        form.submit();
      });
    </script>
{% endblock %}

