{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="search-bar">
            <form id="search-form" class="form-inline" method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control" id="searchType" name="searchType" style="margin: 0px 10px">
                        <option value="all" selected>All</option>
                        <option value="sponsor">Sponsor</option>
                        <option value="deadline">Deadline</option>
                        <option value="anything">Anything</option>
                    </select>
                </div>
                <div class="form-group" id="search">
                    <input type="text" class="form-control mg10" name="search" placeholder="Search Sponsor">
                </div>
                <div class="form-group deadline">
                    <input data-provide="datepicker" class="form-control mg10" name="deadline_from" placeholder="Deadline From">
                </div>
                <div class="form-group deadline">
                    <input data-provide="datepicker" class="form-control mg10" name="deadline_to" placeholder="Deadline To">
                </div>
                <div class="form-group" id="anything">
                    <input type="text" class="form-control mg10" name="anything" placeholder="Sponsor +(or) Date">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success mg10">Search</button>
                </div>
                {% if user.is_superuser %}
                    <div class="form-group">
                        <button type="button" class="btn btn-success mg10"
                                onclick="document.getElementById('fileInput').click();">Import
                        </button>
                    </div>
                {% endif %}
            </form>
            <form class="form-inline" method="post" action="{% url 'import_data' %}" enctype="multipart/form-data"
                  style="display: none">
                {% csrf_token %}
                <input name="file" type="file" id="fileInput"
                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       onchange="this.form.submit();">
            </form>
        </div>

        <div class="row" style="margin: 10px;">
            <table id="table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Sponsor</th>
                    <th class="no-sort">Title</th>
                    <th>Link</th>
                    <th>Amount</th>
                    <th>Deadline</th>
                    <th>Synopsis</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

